{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "#Base.html\n",
    "<!DOCTYPE html>\n",
    "<html lang=\"en\">\n",
    "<head>\n",
    "<meta charset=\"UTF-8\">\n",
    "<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n",
    "<meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n",
    "<meta name=\"Description\" content=\"Enter your description here\"/>\n",
    "<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css\">\n",
    "<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css\">\n",
    "<link rel=\"stylesheet\" href=\"../../static/css/styles.css\">\n",
    "<title>Drone Collection API</title>\n",
    "</head>\n",
    "<body>\n",
    "\n",
    "    <!--NavBar here-->\n",
    "    <nav class=\"ct-nav\">\n",
    "        <div>\n",
    "            <img src=\"../../static/images/Coding Drones Logo.png\" alt=\"Coding Drones Logo\">\n",
    "        </div>\n",
    "\n",
    "        <!--Nav Items-->\n",
    "        <div>\n",
    "            <ul id=\"horizontal-list\">\n",
    "                <a href=\"\">\n",
    "                    <li>The Coding Drones Project</li>\n",
    "                </a>\n",
    "                <a href=\"\">\n",
    "                    <li>Donate</li>\n",
    "                </a>\n",
    "                <a href=\"{{ url_for('profile') }}\">\n",
    "                    <li>Profile</li>\n",
    "                </a>\n",
    "                <!--User auth check for signin/signup Nav buttons-->\n",
    "                {% if current_user.is_authenticated %}\n",
    "                <a href=\"{{ url_for('logout') }}\">\n",
    "                    <li>Log Out</li>\n",
    "                </a>\n",
    "                {% else %}\n",
    "                <a href=\"{{ url_for('signin') }}\">\n",
    "                    <li>Sign In</li>\n",
    "                </a>\n",
    "                <a href=\"{{ url_for('signup') }}\">\n",
    "                    <li>Sign Up Free</li>\n",
    "                </a>\n",
    "                {% endif %}\n",
    "            </ul>\n",
    "        </div>\n",
    "    </nav>\n",
    "    <!--End of Nav-->\n",
    "\n",
    "    {% block content %}\n",
    "    {% endblock content %}\n",
    "\n",
    "<script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js\"></script>\n",
    "<script src=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js\"></script>\n",
    "</body>\n",
    "</html>\n",
    "\n",
    "#forms.html\n",
    "<!--HTML produced by the flask form -->\n",
    "<form method=\"POST\">\n",
    "    {{ form.hidden_tag() }}\n",
    "    <div class=\"form-group\">\n",
    "        <fieldset id=\"email-field\">\n",
    "            {{ form.email.label }} <!--giving us the label from forms.py-->\n",
    "            {{ form.email(class=\"form-control\", placeholder=\"Place Email Here...\")}} <!--calling the actual class, instantiate the class-->\n",
    "        </fieldset>\n",
    "\n",
    "        <fieldset id=\"pass-field\">\n",
    "            {{ form.password.label}}\n",
    "            {{ form.password(class=\"form-control\", placeholder=\"Place Password Here...\")}}\n",
    "        </fieldset>\n",
    "\n",
    "        <!--SUbmit button area-->\n",
    "        {{ form.submit_button(class=\"btn btn-primary btn-block\")}}\n",
    "\n",
    "    </div>\n",
    "</form>\n",
    "\n",
    "#home.html\n",
    "{% extends 'shared/base.html' %}\n",
    "\n",
    "{% block content %}\n",
    "\n",
    "<!--Flask flashed messages to user -->\n",
    "<div class=\"container\">\n",
    "    {% with messages = get_flashed_messages(with_categories = true) %}\n",
    "        {% if messages %}\n",
    "            {% for cat, msg in messages %}\n",
    "                {% if cat == 'auth-success' %}\n",
    "                    <div class=\"alert alert-success\">\n",
    "                        {{ msg }}\n",
    "                        <button type=\"button\" class=\"close\" data-dismiss = \"alert\">&times;</button>\n",
    "                    </div>\n",
    "                {% endif %}\n",
    "            {% endfor%}\n",
    "        {% endif %}\n",
    "    {% endwith%}\n",
    "</div>\n",
    "\n",
    "<div class=\"container\">\n",
    "    <!--Header Section-->\n",
    "    <header class=\"row\">\n",
    "        <div class=\"col-12 col-md-6\" id=\"header-text\">\n",
    "            <h2>Let's build the future of drone collecting together!</h2>\n",
    "            <h5>Create an amazing API tool for drone collecting developers.</h5>\n",
    "            <div>\n",
    "                <button class=\"btn btn-primary\">View Our Docs</button>\n",
    "                <button class=\"btn btn-primary\">Join Our Slack</button>\n",
    "            </div>\n",
    "        </div>\n",
    "        <!--Header Image-->\n",
    "        <div class=\"col-12 col-md-6\">\n",
    "            <img class=\"header-image\" src=\"../static/images/undraw_server_status_5pbv.svg\" alt=\"Hero Header Image\">\n",
    "        </div>\n",
    "    </header>\n",
    "    <!--End of Header Section-->\n",
    "\n",
    "    <!--Start of Middle Section-->\n",
    "    <section class=\"row\">\n",
    "        <div class=\"col-12\" id=\"middle-text\">\n",
    "            <h2>Display Your Collection</h2>\n",
    "            <p>You can harness the power of an API to expand your collection!</p>\n",
    "        </div>\n",
    "    </section>\n",
    "    <!--End of Middle Section-->\n",
    "\n",
    "    <!--Collection of Features Section-->\n",
    "    <section class=\"row\" id=\"features-section\">\n",
    "        <div class=\"col-12 col-md-4\">\n",
    "            <img src=\"../static/images/api.png\" alt=\"API Image\" id=\"api-image\">\n",
    "            <h4>Dedicated API Routes</h4>\n",
    "            <p>\n",
    "                If you are a fan of using traditional API routes, we have those for you!\n",
    "            </p>\n",
    "        </div>\n",
    "\n",
    "        <div class=\"col-12 col-md-4\">\n",
    "            <img src=\"../static/images/graphql.png\" alt=\"graphql-image\" id=\"graphql-image\">\n",
    "            <h4>GraphQL API Route</h4>\n",
    "            <p>\n",
    "                If you want ALL date from one endpoint, we have that too!\n",
    "            </p>\n",
    "        </div>\n",
    "\n",
    "        <div class=\"col-12 col-md-4\">\n",
    "            <img src=\"../static/images/db.png\" alt=\"database-image\" id=\"database-image\">\n",
    "            <h4>Backed By a PostgreSQL Database</h4>\n",
    "            <p>\n",
    "                All data will be persisted inside of a secure Postgres Database.\n",
    "            </p>\n",
    "        </div>\n",
    "    </section>\n",
    "    <!--End of collection features-->\n",
    "\n",
    "    <section class=\"row\">\n",
    "        <div class=\"col-12 col-md-6\">\n",
    "            <img src=\"../static/images/undraw_drone_surveillance_kjjg.svg\" alt=\"Drone Image\" id=\"drone-image\">\n",
    "        </div>\n",
    "\n",
    "        <div class=\"col-12 col-md-6\">\n",
    "            <h4>Talk with like minded drone collectors</h4>\n",
    "            <p>\n",
    "                Talk with other devs around the world and collab on projects with you data.\n",
    "                Join our slack channel and give a star to the project on Github!\n",
    "            </p>\n",
    "            <div>\n",
    "                <button class=\"btn btn-primary\">View on Github</button>\n",
    "                <button class=\"btn btn-primary\">Join Our Slack Channel</button>\n",
    "            </div>\n",
    "        </div>\n",
    "    </section>\n",
    "    <!--ENd of community section-->\n",
    "\n",
    "    <!--Start of footer-->\n",
    "    <footer class=\"row\" id=\"footer\">\n",
    "        <div class=\"col-12 col-md-2\">\n",
    "            <img src=\"../static/images/Coding Drones Logo.png\" alt=\"Coding Drones Logo\" id=\"footer-logo\">\n",
    "        </div>\n",
    "\n",
    "        <div class=\"col-12 col-md-2\">\n",
    "            <div class=\"footer-text-flex\">\n",
    "                <h4>Platform</h4>\n",
    "                <p>Why Coding Drones?</p>\n",
    "                <p>The Coding Drones Project</p>\n",
    "                <p>Donate</p>\n",
    "                <p>Spread The Word</p>\n",
    "                <p>Our Process</p>\n",
    "            </div>\n",
    "        </div>\n",
    "\n",
    "        <div class=\"col-12 col-md-2\">\n",
    "            <div class=\"footer-text-flex\">\n",
    "                <h4>Platform</h4>\n",
    "                <p>Why Coding Drones?</p>\n",
    "                <p>The Coding Drones Project</p>\n",
    "                <p>Donate</p>\n",
    "                <p>Spread The Word</p>\n",
    "                <p>Our Process</p>\n",
    "            </div>\n",
    "        </div>\n",
    "\n",
    "        <div class=\"col-12 col-md-2\">\n",
    "            <div class=\"footer-text-flex\">\n",
    "                <h4>Platform</h4>\n",
    "                <p>Why Coding Drones?</p>\n",
    "                <p>The Coding Drones Project</p>\n",
    "                <p>Donate</p>\n",
    "                <p>Spread The Word</p>\n",
    "                <p>Our Process</p>\n",
    "            </div>\n",
    "        </div>\n",
    "\n",
    "        <div class=\"col-12 col-md-2\">\n",
    "            <div class=\"footer-text-flex\">\n",
    "                <h4>Platform</h4>\n",
    "                <p>Why Coding Drones?</p>\n",
    "                <p>The Coding Drones Project</p>\n",
    "                <p>Donate</p>\n",
    "                <p>Spread The Word</p>\n",
    "                <p>Our Process</p>\n",
    "            </div>\n",
    "        </div>\n",
    "\n",
    "        <div class=\"col-12 col-md-2\">\n",
    "            <div class=\"footer-text-flex\">\n",
    "                <h4>Platform</h4>\n",
    "                <p>Why Coding Drones?</p>\n",
    "                <p>The Coding Drones Project</p>\n",
    "                <p>Donate</p>\n",
    "                <p>Spread The Word</p>\n",
    "                <p>Our Process</p>\n",
    "            </div>\n",
    "        </div>\n",
    "    </footer>\n",
    "</div>\n",
    "\n",
    "{% endblock content %}\n",
    "\n",
    "#profile.html\n",
    "{% extends 'shared/base.html' %}\n",
    "\n",
    "{% block content %}\n",
    "\n",
    "<header class=\"hero-section\">\n",
    "    <h3 class=\"header-text\">Welcom to Coding Drones! {{ current_user.email }}</h3>\n",
    "</header>\n",
    "\n",
    "<div class=\"container\">\n",
    "    <h3>Here are your profile details</h3>\n",
    "    <ul class=\"list-group\">\n",
    "        <li class=\"list-group-item\">Email: {{ current_user.email }}</li>\n",
    "        <li class=\"list-group-item\">Token: {{ current_user.token }}</li>\n",
    "        {% if jwt %}\n",
    "        <li class=\"list-group-item\">API Access Key: <p>{{ jwt }}</p></li> \n",
    "        {% else %}\n",
    "        <li class=\"list-group-item\">API Access Key: <p>None</p></li> <!--TODO: Add Access Key-->\n",
    "        {% endif %}\n",
    "    </ul>\n",
    "</div>\n",
    "\n",
    "{% endblock content %}\n",
    "\n",
    "#signin.html\n",
    "{% extends 'shared/base.html' %}\n",
    "\n",
    "{% block content %}\n",
    "\n",
    "<!--Flask flashed messages to user -->\n",
    "<div class=\"container\">\n",
    "    {% with messages = get_flashed_messages(with_categories = true) %}\n",
    "        {% if messages %}\n",
    "            {% for cat, msg in messages %}\n",
    "                {% if cat == 'auth-failed' %}\n",
    "                    <div class=\"alert alert-danger\">\n",
    "                        {{ msg }}\n",
    "                        <button type=\"button\" class=\"close\" data-dismiss = \"alert\">&times;</button>\n",
    "                    </div>\n",
    "                {% endif %}\n",
    "            {% endfor%}\n",
    "        {% endif %}\n",
    "    {% endwith%}\n",
    "</div>\n",
    "\n",
    "<main class=\"container\">\n",
    "    <div class=\"row\">\n",
    "        <aside class=\"col-12 col-md-6\">\n",
    "            <h2>Sign In To Your Account</h2>\n",
    "            {% include 'shared/forms.html' %}\n",
    "        </aside>\n",
    "        <!--TODO: Add Button for Google SIgn in-->\n",
    "        <div class=\"google-choose\">\n",
    "            <h4> OR </h4>\n",
    "        </div>\n",
    "\n",
    "        <!--Button For Google SIgn in-->\n",
    "        <a href=\"{{ url_for('google_auth') }}\">\n",
    "            <button class=\"btn btn-dark\">\n",
    "            Sign in with Google\n",
    "        </button>\n",
    "        </a>\n",
    "        \n",
    "        <aside class=\"col-12 col-md-6\" id=\"side-color\">\n",
    "\n",
    "        </aside>\n",
    "    </div>\n",
    "</main>\n",
    "\n",
    "{% endblock content %}\n",
    "\n",
    "\n",
    "#signup.html\n",
    "{% extends 'shared/base.html' %}\n",
    "\n",
    "{% block content %}\n",
    "\n",
    "<main class=\"container\">\n",
    "    <div class=\"row\">\n",
    "        <aside class=\"col-12 col-md-6\">\n",
    "            <h2>Create Your Free Account</h2>\n",
    "            {% include 'shared/forms.html' %}\n",
    "        </aside>\n",
    "        <!--TODO: Add Button for Google SIgn up-->\n",
    "        <div class=\"google-choose\">\n",
    "            <h4> OR </h4>\n",
    "        </div>\n",
    "\n",
    "        <!--Button For Google SIgn up-->\n",
    "        <a href=\"{{ url_for('google_auth') }}\">\n",
    "            <button class=\"btn btn-dark\">\n",
    "            Sign up with Google\n",
    "            </button>\n",
    "        </a>\n",
    "        \n",
    "        <aside class=\"col-12 col-md-6\" id=\"side-color\">\n",
    "\n",
    "        </aside>\n",
    "    </div>\n",
    "</main>\n",
    "\n",
    "{% endblock content %}\n",
    "\n",
    "\n",
    "\n"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.8.5"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 4
}
